<div class="alert alert-info">
    @childContent
</div>
@inherits ChildComponentBase;
<div class="alert alert-@AlertTheme">
    toggle dark theme <input type="checkbox" @bind="DarkThemeOn"/>
</div>

@code {
    

}
